.shegeft-mains{
     width: 100%;
   height: 345px;
   display: flex;
   justify-content: center;
   margin-bottom: 15px !important;
}
.shegeft-main{
    width: 100%;
    max-width: 1350px;
   height: 100%;
   background-color: #e2113b;
    border: 1px solid grey;
    border-radius: 16px !important;
    border-radius: 16px;
    margin: 0 auto;
}
.shegeft-main-center{
     width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
    column-gap: 5px;
    padding: 20px;
}
.shegeft-main-center img{
    width: 24px;
    height: 24px;
}
.shegeft-main-center p{
    font-family: var(--font-family);
    font-size: 16px !important;
    color: white;
}

.shegeft{
     width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    
}
.shegeft-center{
     width: 100%;
    max-width: 1350px;
    height: 100%;
    background-color: #e2113b;
    overflow: hidden;
    padding: 20px 20px;
}
.swiper-slide-items-4{
     width: 100%;
    height: 100%;
}
.swiper-slide-items-4 span{
    font-family: var(--font-family);
    font-size: 12px;
    color: #e2113b;
    padding-right: 15px;
    padding-top: 10px;
    
}
.swiper-slide-shegeft{
     width: 100%;
    display: flex;
    column-gap: 5px;
    justify-content: flex-start;
   align-items: flex-start;
   padding: 13px;
   
}
.swiper-slide-shegeft img{
    width: 200px;
    height: 200px;
}
.swiper-slide-shegeft p{
    font-family: var(--font-family);
    font-size: 12px;
    color: #4d4e70;
    padding-top: 40px !important;
    margin-bottom: 50px !important;
   
}
.clocks{
     width: fit-content;
    padding: 5px;
    display: flex;
    column-gap: 5px;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 10px !important;
    flex-direction: row-reverse;
}
.hourses, .minuteses, .secondses{
    width: fit-content;
     height: 25px;
    color: #e2113b;
    border-radius: 5px;
    font-family: var(--font-familys);
    font-size: 16px;
    font-weight: bold;
}
.colons{
    color: #e2113b;
}
 
